<div class = 'hero'>
	<br />

	<div class = 'frosty col-xs-10 col-xs-offset-1 text-center'>
		<br />
		<h1>Learn Mexican Cooking from the Pros</h1>
		<br />
		<h1>Or Teach From the Comfort of your Home!</h2>
		<br />
		<%= link_to "Learn More", courses_path, :class => 'btn btn-warning' %>
		<br /><br />
	</div>
</div>
<br />
<div class = 'col-xs-10 col-xs-offset-1 features text-center'>
	<div class = 'col-sm-4'>
		<%= image_tag 'frijoles.jpg', :class => 'img-responsive' %>
		<br />
		<h3>Learn the Basics</h3>
		<p>Cilantro, avocado, chiles galore!</p>
	</div>

	<div class = 'col-sm-4'>
		<%= image_tag 'horchata.jpg', :class => 'img-responsive' %>
		<br />
		<h3>More Than Just Food</h3>
		<p>Decadent drinks and desserts</p>
	</div>

	<div class = 'col-sm-4'>
		<%= image_tag 'ceviche.jpg', :class => 'img-responsive' %>
		<br />
		<h3>Mexican Seafood</h3>
		<p>Ceviche, aguachile</p>
	</div>
</div>